<footer class="bg-black">

    <div class="max-w-7xl mx-auto px-6 py-10 flex flex-col gap-10">

        <div class="flex flex-col sm:flex-row items-center sm:justify-between gap-8">

            <div class="flex flex-col items-center sm:items-start gap-4">
                <a href="/">
                    <img src="/Logotipo.svg" alt="Logo 24/7 Sneakers BA" width="192" height="40" class="w-40 sm:w-48 hover:scale-102 transition-all duration-300" />
                </a>

                <a href="https://www.instagram.com/247sneakersba/" class="bg-primary rounded-full w-fit text-white hover:bg-primary-accent transition-all duration-300 p-1" target="_blank" rel="noopener noreferrer" aria-label="Instagram 24/7 Sneakers BA">
                    <svg class="w-8 h-8" fill="#fee4bf" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                        <path d="M22.3,8.4c-0.8,0-1.4,0.6-1.4,1.4c0,0.8,0.6,1.4,1.4,1.4c0.8,0,1.4-0.6,1.4-1.4C23.7,9,23.1,8.4,22.3,8.4z"/>
                        <path d="M16,10.2c-3.3,0-5.9,2.7-5.9,5.9s2.7,5.9,5.9,5.9s5.9-2.7,5.9-5.9S19.3,10.2,16,10.2z M16,19.9c-2.1,0-3.8-1.7-3.8-3.8c0-2.1,1.7-3.8,3.8-3.8c2.1,0,3.8,1.7,3.8,3.8C19.8,18.2,18.1,19.9,16,19.9z"/>
                        <path d="M20.8,4h-9.5C7.2,4,4,7.2,4,11.2v9.5c0,4,3.2,7.2,7.2,7.2h9.5c4,0,7.2-3.2,7.2-7.2v-9.5C28,7.2,24.8,4,20.8,4z M25.7,20.8c0,2.7-2.2,5-5,5h-9.5c-2.7,0-5-2.2-5-5v-9.5c0-2.7,2.2-5,5-5h9.5c2.7,0,5,2.2,5,5V20.8z"/>
                    </svg>
                </a>
            </div>

            <div class="flex flex-col items-center sm:items-end gap-3 text-center sm:text-right">
                <h1 class="p-1 text-3xl sm:text-4xl font-semibold font-accent italic text-secondary">CONTÁCTANOS</h1>
                
                <ul class="flex flex-col gap-2 text-white text-sm">
                    <li><a href="https://wa.me/5491112345678" target="_blank" rel="noopener noreferrer" class="hover:text-primary transition-all duration-300">+54 9 11 1234 5678</a></li>
                    <li><a href="tel:+5491112345678" target="_blank" rel="noopener noreferrer" class="hover:text-primary transition-all duration-300">11 1234 5678</a></li>
                </ul>
            </div>

        </div>

        <hr class="w-full mx-auto my-0 text-secondary">

        <div class="w-full text-sm text-secondary">
            <div class="flex flex-col sm:flex-row items-center sm:justify-between gap-2 text-center sm:text-left">
                <p>© 24/7 Sneakers BA - {new Date().getFullYear()}. Todos los derechos reservados.</p>
                
                Desarrollado por<a href="https://www.linkedin.com/in/franciscojarusz/" target="_blank" rel="noopener noreferrer"> Francisco Jarusz</a>.
            </div>
        </div>
        
    </div>

</footer>