
---
import Logotipo from '../assets/Logotipo.svg';
---

<header class="bg-black py-4 flex justify-center">

    <a href="/">
        <img src={Logotipo.src} alt="Logo 24/7 Sneakers BA" class="w-48 hover:scale-102 transition-all duration-300" />  
    </a>
    
    
</header>