---
import Carrito from '@/components/ui/Carrito.jsx';
import TextoLoop from '@/components/ui/TextoLoop.jsx';
import BuscadorHeader from '@/components/ui/BuscadorHeader.jsx';
import { getProductosAgrupados } from '@/utils/productos.js';
const productos = getProductosAgrupados();
---

<header class="sticky top-0 z-50">
    <TextoLoop/>

    <div class="bg-black py-4">
        <div class="max-w-7xl mx-auto px-6 flex justify-between items-center">

            <a href="/" class="shrink-0">
                <img src="/favicon.svg" alt="Logo 24/7 Sneakers BA" class="w-12 h-12 sm:hidden hover:scale-105 transition-all duration-300" />
                <img src="/Logotipo.svg" alt="Logo 24/7 Sneakers BA" class="hidden sm:block w-48 hover:scale-102 transition-all duration-300" />
            </a>

            <div class="flex items-center gap-4">
                <BuscadorHeader productos={productos} client:load />
                <Carrito client:load />
            </div>
        
        </div>        
    </div>
    
</header>