---
import Card from '@/components/ui/Card.jsx';
import { getProductosAgrupados } from '@/utils/productos.js';
const productos = await getProductosAgrupados();
---

<section id="catalogo" class="py-16">

    <div class="flex flex-col gap-8 lg:gap-16 max-w-7xl mx-auto px-6">

        <h1 class="text-4xl lg:text-6xl text-primary font-accent uppercase animate-fade-in-down animation-delay-200">Nuevos ingresos</h1>

        <div class="grid grid-cols-2 lg:grid-cols-3 gap-10 lg:gap-20 animate-fade-in-down animate-delay-500">
            {productos.filter(p => p.stock > 0).reverse().slice(0, 12).map((producto) => (
                <Card producto={producto} client:load />
            ))}
        </div>
        
    </div>

</section>
