---
import Card from '@/components/ui/Card.jsx';
import { getProductosAgrupados } from '@/utils/productos.js';
const productos = getProductosAgrupados();
---

<section id="catalogo" class="py-16">

    <div class="flex flex-col gap-10 max-w-7xl mx-auto px-6">

        <h1 class="text-3xl font-bold text-primary">Nuevos ingresos</h1>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10">
            {productos.filter(p => p.stock > 0).map((producto) => (
                <Card producto={producto} client:load />
            ))}
        </div>
        
    </div>

</section>