<section id="encargos" class="bg-primary h-auto py-16">

    <div class="flex flex-col items-start justify-center text-start px-6 max-w-7xl mx-auto gap-6">
        
        <h1 class="text-5xl font-semibold text-secondary uppercase font-accent italic">
           Cómo realizar encargos
        </h1>

        <div class="flex flex-col gap-3 text-sm md:text-md lg:text-lg max-w-md md:max-w-2xl text-secondary">
            <p>Para encargar con nosotros, envíanos el nombre o foto del producto que estás buscando y nosotros nos te lo cotizamos.</p>
            <p>Recordá que el tiempo estimado de entrega es de 15 a 20 días.</p>
            <p>Compramos a retailers oficiales o de reventa con verificación, para así garantizar la autenticidad de los productos.</p>
        </div>    
        
    </div>

</section>