<section class="relative w-full h-100 overflow-hidden">

    <img
        src="/hero.png"
        alt="Hero"
        class="w-full h-auto block"
    />

    <div class="absolute inset-0 bg-black/80"></div>

    <div class="absolute inset-0 z-10 flex flex-col items-start justify-center text-start px-6 max-w-7xl mx-auto gap-6">
        <h1 class="text-5xl md:text-8xl font-semibold text-white uppercase font-accent italic">
            SNEAKERS Y STREETWEAR
        </h1>
        <p class="text-lg md:text-xl text-white">
            Expertos en reventa de piezas exclusivas.<br>
            Desde 2020 brindando seguridad y autenticidad en cada par.
        </p>
        <a
            href="/busqueda"
            class="bg-primary text-secondary font-semibold px-6 py-3 rounded-full hover:bg-primary-accent transition-colors duration-300"
        >
            <p>Conocé todos nuestros productos</p>
        </a>
    </div>

</section>