---
import '@/styles/global.css';
import Footer from '@/components/Footer.astro';

interface Props {
  title?: string;
}

const { title } = Astro.props;
const pageTitle = title ? `${title} - 24/7 Sneakers BA` : '24/7 Sneakers BA';
---

<!doctype html>

<html lang="es">

	<head>

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="24/7 Sneakers BA" />
		<meta name="author" content="24/7 Sneakers BA" />
		<meta name="keywords" content="24/7 Sneakers BA, sneakers, zapatos, tienda" />

		<meta property="og:type" content="website" />
		<meta property="og:title" content={pageTitle} />
		<meta property="og:description" content="24/7 Sneakers BA, la mejor tienda de sneakers." />
		
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={pageTitle} />
		<meta name="twitter:description" content="24/7 Sneakers BA, la mejor tienda de sneakers." />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		
		<title>{pageTitle}</title>

	</head>

	<body class="min-h-dvh flex flex-col"> 
		<div class="flex-1">
			<slot />
		</div>
		<Footer />
	</body>
	
	<link/>

</html>